[submodule "packages/script-tools"]
	path = packages/script-tools
	url = https://github.com/DAMHONGDUC/script-tools
	branch = main
[submodule "packages/flutter-system-design-kit"]
	path = packages/flutter-system-design-kit
	url = https://github.com/DAMHONGDUC/flutter-system-design-kit
	branch = main
