{
  "FLAVOR": "dev",

  "APP_DISPLAY_NAME": "Reseller Studio Dev",

  "MOCK_DATA_DEFAULT": false,
  "VERBOSE_LOGGING": true,

  "FIREBASE_PROJECT_ID": "<firebase_project_id>",
  "FIREBASE_APP_ID_IOS": "<firebase_ios_app_id>",
  "FUNCTIONS_REGION": "asia-southeast1",

  "GOOGLE_SIGN_IN_CLIENT_ID_IOS": "<google_ios_client_id>",
  "GOOGLE_SIGN_IN_SERVER_CLIENT_ID": "<google_server_client_id>",

  "REVENUECAT_IOS_KEY": "<revenuecat_ios_public_sdk_key>",
  "REVENUECAT_ANDROID_KEY": "<revenuecat_android_public_sdk_key>",
  "REVENUECAT_ENTITLEMENT": "<revenuecat_entitlement_id>",
  "REVENUECAT_OFFERING": "<revenuecat_offering_id>",

  "PRIVACY_POLICY_URL": "<privacy_policy_url>",
  "TERMS_OF_SERVICE_URL": "<terms_of_service_url>",

  "DEFAULT_CURRENCY": "USD",
  "DEFAULT_COUNTRY": "US"
}